html , body
{
    user-select: none;
    cursor: url('Assets/SVGs/CursorSvgs/Default.svg'), auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main
{
    width: 100%;
    height: 100%;
}
button
{
    cursor: url('Assets/SVGs/CursorSvgs/Hand.svg'), auto !important;
}
#ProfileImage
{
    height: 60px;
    border-radius: 30px;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 0%;
    box-shadow: 0 0 10px 10px rgba(255,215,0, 0.7);
    border: solid;
    border-width: 2px;
    border-color: gold;
    cursor: none;
}
#loading 
{
    color: #f6d4b1;
    background-color: #525252;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10vw;
    z-index: 6565678567;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    animation: hide 0.4s linear 0.7s;
  }
  #loading h2 
  {
    font-size: 4rem;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: "VT323", monospace;
  }
  #loading-items 
  {
    height: 64px;
    overflow: hidden;
  }
  #loading-bar 
  {
    position: relative;
    width: 100%;
    height: 64px;
    border: dashed 2px #f6d4b1;
    box-shadow: 5px 5px #f6d4b1a8;
  }
  #loading-bar-progress 
  {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: #f6d4b1;
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1.76);
    animation: load 0.3s;
  }
  @keyframes load 
  {
    0%
    {
        transform: scaleX(0);    
    }
    100%
    {
        transform: scaleX(1);
    }
  }
  @keyframes hide
  {
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
  }

.nav-link
{
    font-size: 1.5rem;
    font-weight: 600;
}
#About
{
    margin-top: 0%!important;
    margin-bottom: 2%!important;
    z-index: 3;
}
.name 
{
    background-image: linear-gradient(to right, #18c7be95, #f69e0f,#ff6200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 10rem;
    font-family: Handlee;
    text-align: center;
    background-color: white;
    animation: zoomOut 1s;
    text-shadow: 0 0 100px cornflowerblue;
}

@keyframes zoomOut {
    from {
        transform: scale(2000);
    }
    to {
        transform: scale(1);
    }
}
#Headline
{
    color: #010013;
    font-size: 2rem;
    font-weight: 100;
}
.myinfo
{
    font-size: 1.5rem;
    font-weight: 400;
}

.EducationArea
{
    padding: 5% 5%;
    margin: 5% 5%;
    display: grid;
    width: 90%;
    height:75%;
    grid-template-rows: auto 1fr 1fr;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(130,130,130,0.5);
    border-radius: 20px;
}
.EducationArea:hover
{
    box-shadow:0 1px 40px rgba(0, 0, 0, 0.3);
    transform: scale(0.9,0.9);    
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#JIIT
{
    grid: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#STJOSEPH
{
    grid-row: 3;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subtitle
{
    color: rgb(130,130,130);
}
.logoedu
{
    width: 15vh;
    margin: 5px;
    padding: 5px;;
}
#EducationTitle 
{
    grid: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #010013;
    font-size: 3rem;
    font-weight: 700;
    position: relative; /* Set position to relative */
}
.line
{
    content: '';
    position: relative;
    left: -5px;
    bottom: 28px;
    width: calc(100% + 10px);
    height: 10px;   border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.6);
    z-index: -1;
}

.outerBox
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    color: #444;
    padding: 1%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.col
{
    background-color: #12154C;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 150%;
    margin: 5px;
    text-align: center;
}
.card {
    font-size: 1.5rem;
    font-stretch: semi-expanded;
}
.projarea
{
    background-color:rgb(231,231,231);
}
#Projects
{
    padding-top: 50px;
    text-align: center;
    color: #010013;
    font-size: 3rem;
}
.ProjectIMG
{
    width: 75%;
    border-radius: 5px;
}
.card1
{   
    grid: 1 ;
}
.card2
{  
    grid: 2;
}
.card:hover
{
    transform: rotate3d(1, 2, 3, -5deg);
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
#Contact
{
    clear: both;
    background-color: #353535;
    box-shadow: 0 0 10px 5px black;
    display: flex;
    justify-content: space-evenly;
}
#INFO
{
    margin: 0% 5%;
    padding: 2%;
    color: white;   
    font-weight: 500;
}
#INFO2
{
    margin: 0% 5%;
    padding: 2%;
    color: white;   
    font-weight: 500;
}
#Fotter
{
    background-color: #FF7704;
    color: whitesmoke;
    text-align: center;
}
#Buttons
{
    padding: 2%!important;
    box-shadow: 0 0 20px 10px rgba(255,119,4, .5);
    border-style: dashed;
    border-color: #FF7704;
    flex-wrap: wrap;
}
.btn
{
    color:white;
    background-color: rgb(55, 31, 134);
    box-shadow: 0 0 10px 5px rgba(62, 25, 155, 0.7);
    font-size: 1.5rem;
    margin: 20px 10px;
    width: 200px;
    border-radius: 50px;
    align-content: center;
    height: 80px;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}
.btn:hover
{
    transform: translateY(-10px);
}
a{
    color:white;
    text-decoration: none;
    cursor: url('Assets/SVGs/CursorSvgs/Hand.svg'), auto;
}
.Socials
{
    margin-right: 5px;
    font-size: 1.5rem;
}
li{
    list-style-type: none;
}
#Plane{
    width: 50px;
    padding: 5px;
}
#mailing-text
{
    color: white;
    font-size: 23px;
    margin: 0px 5px;
    font-weight: 900;
}
.mailfixed
{
    position: fixed;
    right:20px;
    bottom: 5%;
    padding: 5px;
    margin: 6px;
    background-color: #FF7704;
    width: 175px;
    border-radius: 50px;
    border: #12154C;
    border-width: 1px;
    border-style: solid;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 4;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.320, 1); 
}
.mailfixed:hover
{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgb(28, 130, 173,0.7);   
    transform: scale(1.1,1.1);
}
.ExtraCursor
{
    display: flex;
    position: absolute;
    height: 40px;
    width: fit-content;
    background-color: coral;
    border: 5px;
    border-radius: 20px;
    z-index: 99999;
    transition: transform 0s cubic-bezier(0.215, 0.610, 0.355, 1);
    opacity: 0;
    font-family: "Inter", sans-serif;
    color: #fff;
    padding: 5px 15px;
    margin: 2px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.hero
{
    width: 100vw;
    overflow: hidden;
}
@media screen and (max-width: 770px) 
{
    .portlext 
    {
      display: none;
    }
}

.Skill-Section
{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 120px;
}
#Skills
{
    color: green;
    text-align: center;
    font-size: 4rem;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}   
.skillGallery
{
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(3,100px);
    gap: 8px;
    .special
    {
        grid-column: 2 / span 2;
    }
}
@media screen and (max-width: 770px)
{ 
    .skillGallery
    {
        grid-template-columns: repeat(4,100px);
        grid-template-rows: repeat(5,100px);
        .special2
        {
            grid-column: 2 / span 2;
        }
        .special
        {
            grid-column: 1 / span 2;
        }
    }   
}
.skillGallery img
{   
    border-radius: .5rem;
    clip-path: path('M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z');grid-column: span 2;
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    transition: clip-path 500ms;
    z-index: 3;
}
#overlayer { display: none; position: fixed; top: 0; left: 0; z-index: 4; background-color: rgba(0, 0, 0, 0.9); width: 100vw; height: 100vh;}
.skillGallery img:hover
{
    z-index: 4;
    clip-path: path('M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z');   
}