<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>={KshKnsl}=></title>
    <link rel="icon" type="image/x-icon" href="/Favicon.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-dvh">
    <div class="bg-slate-100 flex flex-col items-center justify-center h-full">
        <img src="404.png" alt="">
        <a href="/">
            <button type="button" class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-500 font-extrabold rounded-lg text-4xl px-5 py-2.5 text-center m-5 me-2 mb-2">Go to Home</button>
        </a>
    </div>
</body>
</html>